.App{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Menu, 
.Quiz,
.EndScreen{
  width: 500px;
  height: 500px;
  background-color: lightseagreen;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Menu button,
.Quiz button,
.EndScreen button{
  width: 300px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.Menu, 
.Quiz,
.EndScreen{
  color: white;
}

.options{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}